[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-git-branch-info"]
	path = bundle/vim-git-branch-info
	url = https://github.com/taq/vim-git-branch-info.git
[submodule "bundle/mustache"]
	path = bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/json-vim"]
	path = bundle/json-vim
	url = https://github.com/vim-scripts/JSON.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = git://github.com/Townk/vim-autoclose
